.sidebar {
  background-color: var(--slack-color);
  border-top: 1px solid #49274b;
  max-width: 330px;
  color: white;
  flex: 0.3;

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #49274b;
  }

  .sidebar_header {
    display: flex;
    border-bottom: 1px solid #49274b;
    padding: 13px;
    justify-content: space-between;

    .create_icon {
      padding: 8px;
      color: #49274b;
      font-size: 20px;
      background-color: white;
      border-radius: 999px;
    }

    .sidebar_info {
      flex: 1;

      h2 {
        font-size: 15px;
        font-weight: 900;
        margin-bottom: 5px;
      }

      h3 {
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 400;
      }

      .dot {
        font-size: 14px;
        color: green;
        margin-top: 1px;
        margin-right: 2px;
      }
    }
  }
  .channel_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .add_channel {
      margin-right: 10px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
